* {
  font-family: poppins, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(90deg, #1a1a2e, #414040); /* Döner-Farben */
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Navigation */
.nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 18px;
    transition: opacity 0.2s;
}

.nav a:hover {
  opacity: 0.7;
}

/* Responsiv für Handy */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    margin: 10px;
    display: inline-block;
  }
} 

@keyframes smoothSlide {
  /* Rein sliden */
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }

  /* Kurz stehen bleiben */
  60% {
    transform: translateY(0);
    opacity: 1;
  }

  /* Raus sliden */
  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.about {
    padding: 60px 20px;
    background: #1a1a2e;
    font-family: Arial, sans-serif;
    color: white;
}

.about-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.about h1 {
    font-size: 40px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #000cb8, #00aeff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.about-box {
    background: #414040;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about-box h3 {
    font-size: 22px;
    margin-bottom: 10px;
    background: linear-gradient(180deg, #0066ff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}
